In [1]:
import pandas as pd
import sqlite3

In [7]:
# Vuelve a conectar si la cerraste antes
conn = sqlite3.connect("rrhh.db") 

# Consulta para obtener una lista de todas las tablas en la DB
query_tablas = "SELECT name FROM sqlite_master WHERE type='table';"


for tabla in pd.read_sql_query(query_tablas, conn)['name']:
    # Consulta para contar registros en la tabla actual
    query_conteo = f"SELECT COUNT(*) as total_registros FROM {tabla};"
    query_visual = f"SELECT * FROM {tabla}"
    
    # Ejecuta y obtiene el conteo
    df_conteo = pd.read_sql_query(query_conteo, conn)
    display(pd.read_sql_query(query_visual, conn))
    total = df_conteo['total_registros'].iloc[0]
    print(f"Tabla '{tabla}': {total} registros")

conn.close()

   id_tipo_puesto           nombre_rol descripcion
0               1      Personal Médico        None
1               2       Administrativo        None
2               3  Médico Especialista        None
3               4           Enfermería        None
4               5              Técnico        None
5               6       Administrativo        None

Tabla 'cat_tipos_puesto': 6 registros

                           name  seq
0              cat_tipos_puesto    6
1             cat_departamentos   10
2                   cat_puestos   12
3       cat_unidades_produccion   42
4            cat_tipos_contrato    9
5   cat_categorias_inasistencia    4
6        cat_tipos_inasistencia    3
7                     empleados   12
8                     contratos   14
9           distribucion_costos   59
10                inasistencias   23
11                 cat_jornadas    3
12            kardex_vacaciones   91
13              cat_grupos_perc   14
14        cat_reglas_vacaciones    4

Tabla 'sqlite_sequence': 15 registros

   id_departamento                         nombre codigo_interno
0                1  Unidad de Cuidados Intensivos            UCI
1                2       Investigación y Docencia            DOC
2                3               Consulta Externa            CEX
3                4                Hospitalización           HOSP
4                5  Unidad de Cuidados Intensivos            UCI
5                6                     Quirófanos            QUI
6                7                 Administración            ADM
7                8           Gestión de Pacientes            GDP
8                9             CONTROL DE GESTION            CTG
9               10               GERENCIA GENERAL             GG

Tabla 'cat_departamentos': 10 registros

    id_unidad codigo_up                                       nombre_up
0           7      1444              Consulta Externa Gastroenterologia
1           8       120           Hospitalizacion nefrologia pediatrica
2           9       170         Unidad de cuidados intensivos pediatria
3          10       183        Unidad de cuidados intermedios pediatria
4          11       733           Consulta gastroenterologia pediatrica
5          12       734                   Consulta nutricion pediatrica
6          13       319                   Consulta otorrinolaringologia
7          14       331                  Consulta neurologia pediatrica
8          15       332                  Consulta nefrologia pediatrica
9          16       336                Consulta dermatologia pediatrica
10         17       340              Consulta endocrinologia pediatrica
11         18       739                  Consulta psicologia pediatrica
12         19      1726      Consulta Inmunología y Alergías Pediátrica
13         20      1725   Consulta Cardiología y Hemodinámia Pediátrica
14         21      1727             Consulta Cirugía General Pediátrica
15         22      1728              Consulta Anestesiología Pediatrica
16         23       463                          Quirofanos cardiologia
17         24       923                          Quirofanos hemodinamia
18         25      1731                           Quirófano Miscelaneos
19         26       630                  Apoyo a otros establecimientos
20         27      1730          Hospitalización Miscelaneos Pediátrica
21         28      2088                               Sala de Lactantes
22         29      1743                        Unidad de estabilización
23         30       535                                      Radiologia
24         31       586                             Dialisis peritoneal
25         32       268                                    Hemodialisis
26         33       593                           Servicio farmaceutico
27         34       629                             Cuidados paliativos
28         35       644                                      Ambulancia
29         36       662                       Central de esterilizacion
30         37       712                         Mantenimiento biomedico
31         38       648                                            Aseo
32         39       664                              Transporte general
33         40       665                                   Mantenimiento
34         41      1742  Trabajo social / Unidad de atención al usuario
35         42       670                                  Administracion

Tabla 'cat_unidades_produccion': 36 registros

   id_tipo_contrato     nombre
0                 7       HMEP
1                 8  LACTANTES
2                 9      SESAL

Tabla 'cat_tipos_contrato': 3 registros

   id_categoria nombre_categoria
0             1    Incapacidades
1             2       Vacaciones
2             3         Permisos
3             4  Trabajo en Casa

Tabla 'cat_categorias_inasistencia': 4 registros

,id_puesto,nombre_puesto,id_tipo_puesto,id_puesto_supervisor,nivel_riesgo,id_grupo_perc,tiene_personal_cargo,id_puesto_jefe,id_departamento
0,1,Director Médico,1,NaN,None,11,0,NaN,NaN
1,2,Médico Jefe UCI,1,1.0,None,1,0,NaN,NaN
2,3,Docente,1,1.0,None,14,0,NaN,NaN
3,4,Director Médico,1,NaN,None,11,0,NaN,NaN
4,5,Jefe de UCI,1,1.0,None,1,0,NaN,NaN
5,6,Médico Asistencial,1,2.0,None,2,0,NaN,NaN
6,7,Jefa de Enfermería,2,NaN,None,4,0,NaN,NaN
7,8,Auxiliar de Enfermería,2,4.0,None,3,0,NaN,NaN
8,10,ANALISTA DE LA GESTION,1,NaN,None,11,0,11.0,9.0
9,11,GERENTE CONTROL DE GESTIÓN,1,NaN,None,11,1,NaN,9.0
10,12,GERENCIA GENERAL,1,NaN,None,11,1,NaN,10.0

Tabla 'cat_puestos': 11 registros

,id_tipo,nombre_tipo,id_categoria,remunerado,descuenta_vacaciones,cuenta_afectada
0,1,Incapacidad IHSS,1,1,0,NINGUNA
1,2,Vacaciones Ordinarias,2,1,0,ORDINARIA
2,3,Vacaciones Profilácticas,2,1,0,NINGUNA

Tabla 'cat_tipos_inasistencia': 3 registros

,id_empleado,codigo,dni,nombres,apellidos,fecha_nacimiento,activo
0,1,MED-001,0801-1990-00123,JUAN PABLO,PÉREZ,1990-05-20,1
1,2,808081,80112873443,PRUEBA1,APROBADO1,1990-12-18,1
2,3,909091,0801199912345,PABLO JUAN,LOPEZ OSORIO,1990-12-16,1
3,4,909092,0501199912345,PABLO JUAN,LOPEZ OSORIO,1990-12-16,1
4,5,909093,1501198012345,MARIA GLORIA,JUEZ CARRASCO,1980-12-01,1
5,6,707001,901197023456,ANGEL EDUARDO,FUENTES VASQUEZ,1970-01-09,1
6,7,606002,90987661,MILOVAN CC,SDFDF,2025-10-20,1
7,8,505050,8073400332,JUANITO,PEREZ,1990-03-01,1
8,9,404009,89876633,JUANITA,GARCIA,1908-09-09,1
9,10,99991,898989,PEPITO,LOPEZ,1980-09-01,1
10,11,100324,0801199402417,MILOVAN ROBERTO,MARRDER AMADOR,1994-01-17,1
11,12,778823,0501198712345,CAMILA CECILIA,LOPEZ VALLE,1987-12-09,1

Tabla 'empleados': 12 registros

,id_contrato,id_empleado,id_puesto,id_departamento,id_tipo_contrato,fecha_inicio,fecha_fin,salario,activo,id_jornada,saldo_inicial_vacaciones,fecha_inicio_kardex,saldo_inicial_profilacticas,dni_perc
0,1,1,2,1,9,2020-01-01,None,35000.0,1,1,14.0,2025-09-01,0.0,0801-1990-00123S
1,2,1,3,2,9,2023-01-01,None,12000.0,1,1,0.0,None,0.0,0801-1990-00123S
2,3,2,5,3,8,2021-12-16,None,0.0,1,1,0.0,None,0.0,80112873443L
3,8,3,3,2,7,2025-12-16,None,3323.0,1,1,0.0,None,0.0,0801199912345
4,9,9,3,2,7,2025-09-15,None,10000.0,1,1,0.0,2025-09-15,0.0,89876633
5,10,11,10,9,7,2017-03-01,None,20000.0,1,2,8.0,2025-09-01,0.0,0801199402417
6,11,9,7,3,7,2025-07-01,2025-12-15,12000.0,1,1,0.0,2025-07-01,0.0,89876633
7,12,5,6,6,7,2021-12-16,None,20000.0,1,1,15.0,2022-09-01,0.0,1501198012345
8,13,8,6,4,7,2024-12-18,None,34000.0,1,2,1.0,2024-12-18,0.0,8073400332
9,14,12,2,1,7,2024-12-18,None,40400.0,1,2,0.0,2024-12-18,0.0,0501198712345

Tabla 'contratos': 10 registros

    id_distribucion  id_contrato  id_unidad  porcentaje
0                41           11         11       100.0
1                42           13         17        70.0
2                43           13         12        30.0
3                46           12         29       100.0
4                49           10         42       100.0
5                52            8          9       100.0
6                53            9         41        60.0
7                54            9         22        40.0
8                55            2         20       100.0
9                56            3         36       100.0
10               57            1         13       100.0
11               58           14         25        90.0
12               59           14         21        10.0

Tabla 'distribucion_costos': 13 registros

,id_inasistencia,id_empleado,id_contrato,id_tipo_inasistencia,fecha_solicitud,fecha_inicio_real,fecha_fin_real,motivo_detalle,estado,comentario,es_por_horas,hora_inicio,hora_fin
0,2,2,3,1,2025-12-16,2025-12-16,2025-12-17,Prueba de inasistencia,Aprobado,None,0,08:00,16:00
1,3,1,1,1,2025-12-16,2025-12-23,2025-12-26,,Aprobado,None,0,08:00,16:00
2,4,3,8,1,2025-12-16,2025-12-23,2025-12-25,,Aprobado,None,0,08:00,16:00
3,5,1,1,1,2025-12-16,2025-12-16,2025-12-24,,Aprobado,None,0,08:00,16:00
4,6,1,2,3,2025-12-16,2025-12-16,2025-12-20,,Aprobado,None,0,08:00,16:00
5,8,5,12,2,2025-12-16,2025-12-16,2025-12-16,Prueba de medio dia de vacaciones,Aprobado,None,1,08:00,12:00
6,9,5,12,2,2025-12-16,2025-12-16,2025-12-18,,Aprobado,None,0,00:00,00:00
7,10,5,12,2,2025-12-16,2025-12-16,2025-12-18,,Aprobado,None,0,00:00,00:00
8,11,5,12,2,2025-12-16,2025-11-11,2025-11-14,,Aprobado,None,0,00:00,00:00
9,12,5,12,3,2025-12-17,2025-11-24,2025-12-02,,Aprobado,None,0,00:00,00:00
10,13,5,12,2,2025-12-17,2025-12-17,2025-12-19,,Aprobado,None,0,00:00,00:00
11,14,5,12,2,2025-12-17,2025-12-26,2025-12-29,,Aprobado,None,0,00:00,00:00
12,15,11,10,2,2025-12-17,2025-12-17,2025-12-23,,Aprobado,None,0,00:00,00:00
13,17,1,1,2,2025-12-17,2025-12-17,2026-01-02,,Aprobado,None,0,00:00,00:00
14,18,11,10,2,2025-12-17,2025-12-25,2025-12-30,,Aprobado,None,0,00:00,00:00
15,19,11,10,2,2025-12-17,2025-12-17,2025-12-17,,Aprobado,None,0,00:00,00:00
16,20,9,11,2,2025-12-17,2025-12-17,2025-12-22,,Aprobado,None,0,00:00,00:00
17,21,8,13,2,2025-12-18,2025-12-18,2025-12-18,,Aprobado,None,0,00:00,00:00
18,22,12,14,2,2025-12-18,2025-12-18,2025-12-18,,Aprobado,None,0,00:00,00:00
19,23,12,14,1,2025-12-18,2025-12-22,2025-12-23,,Aprobado,None,0,00:00,00:00

Tabla 'inasistencias': 20 registros

   id_jornada         nombre  horas_diarias
0           1    Diurna (8h)            8.0
1           2     Mixta (7h)            7.0
2           3  Nocturna (6h)            6.0

Tabla 'cat_jornadas': 3 registros

   id_regla  id_tipo_inasistencia  anios_antiguedad  dias_otorgar
0         1                     2                 1            10
1         2                     2                 2            12
2         3                     2                 3            15
3         4                     2                 4            20

Tabla 'cat_reglas_vacaciones': 4 registros

,id_movimiento,id_contrato,fecha_movimiento,tipo_movimiento,dias,saldo_snapshot,id_referencia,observacion,cuenta_tipo
0,1,12,2022-09-01,SALDO_INICIAL,15.00,None,NaN,Saldo Inicial al corte 2022-09-01,ORDINARIA
1,2,12,2025-09-30,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-09 (Antigüedad: 3a 9m),ORDINARIA
2,3,12,2025-10-31,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-10 (Antigüedad: 3a 10m),ORDINARIA
3,4,12,2025-11-30,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-11 (Antigüedad: 3a 11m),ORDINARIA
4,5,12,2025-12-17,GOCE,-3.00,None,13.0,Goce Vacaciones:,ORDINARIA
...,...,...,...,...,...,...,...,...,...
85,87,14,2025-07-31,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-07 (Antigüedad: 0a 7m),ORDINARIA
86,88,14,2025-08-31,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-08 (Antigüedad: 0a 8m),ORDINARIA
87,89,14,2025-09-30,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-09 (Antigüedad: 0a 9m),ORDINARIA
88,90,14,2025-10-31,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-10 (Antigüedad: 0a 10m),ORDINARIA
89,91,14,2025-11-30,ACUMULACION_MENSUAL,1.25,None,NaN,Ganados en 2025-11 (Antigüedad: 0a 11m),ORDINARIA

Tabla 'kardex_vacaciones': 90 registros

    id_grupo codigo              descripcion
0          1  00102      MÉDICO ESPECIALISTA
1          2  00103           MÉDICO GENERAL
2          3  00203   AUXILIAR DE ENFERMERÍA
3          4  00209                ENFERMERA
4          5  00304                PSICÓLOGO
5          6  00305               ODONTÓLOGO
6          7  00309     QUÍMICO FARMACÉUTICO
7          8  00324             MICROBIÓLOGO
8          9  00409   TÉCNICO EN LABORATORIO
9         10  00410     TÉCNICO EN ANESTESIA
10        11  00701  PERSONAL ADMINISTRATIVO
11        12  00708        TRABAJADOR SOCIAL
12        13  00736             ASESOR LEGAL
13        14  00818                    OTROS

Tabla 'cat_grupos_perc': 14 registros

Empty DataFrame
Columns: [id_variable, id_contrato, dni_perc_snapshot, periodo, monto]
Index: []

Tabla 'nomina_variables_mensual': 0 registros

In [6]:
import sqlite3
import pandas as pd

# 1. Conexión a la base de datos
conn = sqlite3.connect("rrhh.db")
pd.DataFrame({
    "id_tipo_inasistencia":[2,2,2,2], 
    "anios_antiguedad":[1,2,3,4], 
    "dias_otorgar":[10,12,15,20]
}
    ).to_sql("cat_reglas_vacaciones",conn, index=False,if_exists='append')
conn.close()

In [1]:
import sqlite3
import pandas as pd

# 1. Conexión a la base de datos
conn = sqlite3.connect("rrhh.db")

# 2. Obtener la lista de tablas
query_tablas = "SELECT name FROM sqlite_master WHERE type='table';"
tablas = pd.read_sql_query(query_tablas, conn)['name']

# 3. Abrir el archivo de texto para escribir
with open("resumen_base_datos.txt", "w", encoding="utf-8") as f:
    f.write("=== VISIÓN GENERAL DE LA BASE DE DATOS RRHH ===\n\n")
    
    for tabla in tablas:
        # Consultar los datos de la tabla
        df = pd.read_sql_query(f"SELECT * FROM {tabla}", conn)
        total_registros = len(df)
        
        # Escribir encabezado de la tabla en el TXT
        f.write(f"{'='*50}\n")
        f.write(f"TABLA: {tabla}\n")
        f.write(f"Total de registros: {total_registros}\n")
        f.write(f"{'='*50}\n\n")
        
        if total_registros > 0:
            # Convertimos el DataFrame a string para que se vea como tabla
            f.write(df.to_string(index=False))
        else:
            f.write("Esta tabla está vacía.")
            
        f.write("\n\n") # Espacio entre tablas

# 4. Cerrar conexión
conn.close()

print("El archivo 'resumen_base_datos.txt' ha sido generado con éxito.")

El archivo 'resumen_base_datos.txt' ha sido generado con éxito.